/* MyCustomDiv.css */

.my-custom-div {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 40px;
  }

.p {
    font-size: 80px;
}
  